<h1>Update your profile</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :skills, collection: Skill.all, input_html: { class: 'tags-selector', multiple: true, autocomplete: "skills" },
              required: true,
              autofocus: true %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :location_specific %>
  <%= f.input :image, as: :file %>
  <%= f.submit %>
<% end %>

<% @profile.profile_skills.each do |profile_skill| %>
  <%= simple_form_for profile_skill do |f| %>
  <div class="d-flex align-items-center">
    <%= f.input :skill, input_html: { value: profile_skill.skill.name, disabled: true } %>
    <%= f.input :rate %>
    <%= f.submit "Set Rate" %>
  </div>
  <% end %>
<% end %>
