<h1>Update your profile</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :skills, collection: Skill.all, input_html: { class: 'tags-selector', multiple: true, autocomplete: "skills" },
              required: true,
              autofocus: true %>
  <%= f.input :location %>
  <%= f.input :description %>
  <p>Instagram account</p>
  <%= f.simple_fields_for :user do |u|  %>
    <%= u.input :username, input_html: {value: @profile.user.username} %>
  <% end %>
  <%= f.input :location_specific %>
  <br>
  <%= f.input :image, as: :file %>
  <br>
  <%= f.submit %>
<% end %>
<br>
<br>
<% @profile.profile_skills.each do |profile_skill| %>
  <%= simple_form_for profile_skill do |f| %>
  <div class="d-flex align-items-center">
    <%= f.input :skill, input_html: { value: profile_skill.skill.name, disabled: true } %>
    <%= f.input :rate %>
    <%= f.submit "Set" %>
  </div>
  <% end %>
<% end %>
<br>
<br>
<%= link_to "Back to profile", profile_path(current_user.profile), class:"btn btn-outline-secondary" %>

