
<div class="container">
  <h3 class="text-center py-4">Freelancers</h3>
  <%= simple_form_for :search, url: profiles_path, method: :get, html: { class: "search-form d-flex justify-content-center" } do |f| %>
    <div class="search-form-control d-md-flex justify-content-center align-items-center">
      <input class="form-control string required w-md-50" type="text" placeholder="Skill"  name="skill" value="<%= params[:skill] %>" />
      <input class="form-control string required w-md-50" type="text" placeholder="Location/ Name / etc." name="query" value="<%= params[:query] %>" />
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker", id: "search_starts_at", placeholder: "From"}, wrapper_html: { class: "mb-0 w-md-25"}, label: false %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "search_ends_at", placeholder: "Until"}, wrapper_html: { class: "mb-0 w-md-25"}, label: false %>
      <button name="button" type="submit" class="btn btn-flat" id="home-search">
        <i class="fas fa-search"></i> Search
      </button>
      <input class="form-control string required w-md-50" type="text" placeholder="$ Min Price/hour"  name="low_rate" value="<%= params[:low_rate] %>" />
      <input class="form-control string required w-md-50" type="text" placeholder="$ Max Price/hour"  name="high_rate" value="<%= params[:high_rate] %>" />
      <button name="button" type="submit" class="btn btn-flat" id="price-search">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  <div class = "row d-md-flex justify-content-center align-items-center">
    <% @profiles.each do |profile| %>
    <div class="col-lg-4" style="width: 23rem;">
      <div class="freelancer-card">
        <% if profile.image.attached?  %>
        <%= link_to profile_path(profile) do %>
        <%= cl_image_tag profile.image.key, height: 225, width: 400, crop: :fill %>
        <% end %>
        <% else %>
        <%= link_to profile_path(profile) do %>
        <%= image_tag "https://picsum.photos/1000" , height: 225, class: "some css class here" %>
        <% end %>
        <% end %>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= link_to profile.user.first_name.capitalize, profile_path(profile) %></h5>
            <div class="d-flex justify-content-start">
              <i class="fas fa-star"></i>
              <p class="rating"><%= profile.rating %></p>
              <p><%= "(" %><%= profile.freelancer_reviews.count %><%= ")" %></p>
            </div>
          </div>
          <div class="d-flex flex-wrap">
            <% profile.profile_skills.each do |profile_skill| %>
            <p class="skill-icon card-text mb-1"><%= profile_skill.skill.name %></p>
            <% end %>
          </div>
          <!-- <a href="profile_path" class="btn btn-primary">Show</a>   -->
        </div>
      </div>
    </div>
    <% end %>
  </div>



  <div id="map"
  style="width: 100%; height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


</div>

