<h1>Create your profile</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :rate, label: "daily fee" %>
  <%= f.input :location_specific %>
  <%= f.input :image, as: :file %>
  <%= f.input :skills, collection: Profile::SKILLS, input_html: { class: 'tags-selector', multiple: true } %>
  <%= f.submit %>
<% end %>
