<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @profile.image.attached?  %>
        <%= cl_image_tag @profile.image.key, height: 300, width: 400, crop: :fill %>
      <% else %>
          <img src="https://picsum.photos/200/300" alt="">
      <% end %>
    </div>
    <div class="col-md-4">
      <h2><% @profile.skills.each do |skill| %>
      <p><%= skill.name %></p>
      <% end %></h2>
      <br>
      <h2><%= @profile.description %></h2>
      <br>
      <p><%= @profile.location %></p>
      <br>
      <p><%= @profile.rate %>$</p>
    </div>
    <div class="col-md-4">
      <% if @profile.user != current_user %>
        <%= simple_form_for [@profile, @booking] do |f| %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true  %>
          <%= f.submit "Book" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="d-flex justify-content-around mx-5 px-5">
    <%= link_to "Edit profile", edit_profile_path(@profile), class: "btn btn-outline-secondary" %>
    <%= link_to "Back to list", profiles_path, class: "btn btn-outline-secondary" %>
  </div>
</div>


