<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img" style="background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2)), url('<%= @profile.image.attached? ? cl_image_path(@profile.image.key, height: 275, width: 400, crop: :fill)  : 'https://source.unsplash.com/800x600'%>')">
        <% if !user_signed_in? %>
          <%= link_to login_path, method: :post do  %>
            <i class="far fa-heart"></i>
          <% end %>
        <% elsif current_user.favorited?(@profile) %>
          <%=  link_to unfavorite_profile_path(@profile), method:"post" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%=  link_to add_favorite_profile_path(@profile), method:"post" do %>
          <i class="far fa-heart"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <br>
      <div class="d-flex justify-content-between">
        <h2><%= @profile.user.first_name.capitalize %></h2>
        <div class="d-flex justify-content-between">
          <i class="fas fa-heart"></i>
          <p><%= @profile.favoritors.count %></p>
        </div>
      </div>
      <div class="rating-location">
        <div class="d-flex justify-content-start">
          <i class="fas fa-star"></i>
          <p class="rating"><%= @profile.rating %></p>
          <p><%= "(" %><%= @profile.freelancer_reviews.count %><%= ")" %></p>
        </div>
        <p><%= @profile.location %></p>
      </div>
      <br>
      <h4><%= @profile.description %></h4>
      <br>
      <% @profile.profile_skills.each do |profile_skill| %>
        <div class="d-flex justify-content-between">
          <p><%= profile_skill.skill.name %></p>
          <p data-profile-skill="ps-<%= profile_skill.id %>" data-rate="<%= profile_skill.rate %>"><%= profile_skill.rate || 0 %><%= " €/hour" %></p>
        </div>
      <% end %>

      <br>

      <br>
    </div>

    <div class="col-md-4">
      <div class="d-flex justify-content-around mx-5 px-5">

        <div id='profile-booking-dates'  data-unavailable="<%= @profile.unavailable_dates.to_json %>">
          <% if (@profile.user != current_user) %>
            <div class="item">
            <% if user_signed_in? %>
              <%= link_to 'Send a message', conversations_path(sender_id: current_user.id, receiver_id: @profile.user.id), method: 'post', class:"btn btn-primary" %>
            <% else %>
              <%= link_to 'Send a message', conversations_path, class:"btn btn-primary" %>
            <% end %>
            </div>
            <%= simple_form_for [@booking] do |f| %>
              <%= f.hidden_field :profile_id, value: @profile.id %>
              <%= f.input :profile_skill, label: "Book #{@profile.user.first_name} as:", collection: @profile.profile_skills.map {|profile_skill| [profile_skill.skill.name, profile_skill.id] }, input_html: {value: session[:profile_skill]}, required: true %>
              <%= f.input :start_date,as: :date, html5: true, input_html: {value: session[:start_date]} %>
              <%= f.input :end_date, html5: true, input_html: {value: session[:end_date]} %>
              <button class="btn btn-primary" type="submit">
                <i class='far fa-credit-card'></i> Book
              </button>
            <% end %>
            <p id="live-price" class="my-4"></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="ig-pictures" data-username="<%= @profile.user.username %>" class="container">
    <div class="row justify-content-around">
      <%# @pictures.each do  |img_url| %>
        <div class="col-sm-4 justify-content-around">
          <%#= image_tag img_url, class:"instafeed" %>
        </div>
      <%# end %>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-start my-3">
      <i class="fas fa-star"></i>
      <%= @profile.freelancer_reviews.count %><%= " reviews" %>
    </div>
    <% @profile.freelancer_reviews.each do |review| %>
      <div class="d-flex justify-content-start my-2">
        <p> <%= review.booking.user.first_name %> says: </p>
        <p><%= " " %> "<%= review.content %>"</p>
      </div>
      <p class="card-date"><%= review.created_at.strftime("%B %Y") %></p>
    <% end %>
  </div>
  <br>
  <br>
  <div class="container my-5">
    <div  id="profile-edit-btn" class="d-flex flex--column justify-content-around">
      <% if @profile.user == current_user %>
        <%= link_to "Edit profile", edit_profile_path(@profile), class:"d-block my-2 btn btn-outline-secondary" %>
        <%= link_to "Update rates", edit_rates_profile_path, class:"d-block my-2 btn btn-outline-secondary" %>
        <% unless params[:h] %>
          <%= link_to "Back to list", profiles_path, class:"d-block my-2 btn  btn-outline-secondary" %>
        <% end %>
        <br>
        <br>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item d-md-none text-center" %>
      <% else %>
        <%= link_to "Back to list", profiles_path, class:"btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>















