<nav class="navbar navbar-dark bg-white navbar-expand d-md-none d-lg-none d-xl-none fixed-bottom background-color: #white !important">
    <ul class="navbar-nav nav-justified w-100 justify-content-between">
    <%= link_to root_path, class:"navbar-link #{'active' if  controller_name == 'pages' && action_name == 'home' }" do %>
      <li class="nav-item d-flex flex-column">
        <i class="fas fa-search"></i>
        <span>Explore</span>
      </li>
    <% end %>
    <%= link_to dashboard_path, class:"navbar-link" do %>
      <li class="nav-item d-flex flex-column">
        <i class="far fa-heart"></i>
        <span>Saved</span>
      </li>
    <% end %>
    <%= link_to dashboard_path, class:"navbar-link" do %>
      <li class="nav-item d-flex flex-column">
        <i class="far fa-handshake"></i>
        <span>Bookings</span>
      </li>
    <% end %>
    <%= link_to conversations_path, class:"navbar-link" do %>
      <li class="nav-item d-flex flex-column">
        <i class="far fa-comment-alt"></i>
        <span>Inbox</span>
      </li>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.freelancer? %>
        <%= link_to profile_path(current_user.profile) do %>
          <li class="nav-item d-flex flex-column">
            <i class="far fa-user"></i>
            <span>Profile</span>
          </li>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user) do %>
          <li class="nav-item d-flex flex-column">
            <i class="far fa-user"></i>
            <span>Profile</span>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <li class="nav-item d-flex flex-column">
          <i class="far fa-user"></i>
          <span>Log in</span>
        </li>
      <% end %>
    <% end %>


    </ul>
  </nav>
