
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkvpkwm9f/image/upload/v1606894846/pexels-lukas-684314_rjfrrs.jpg);">
  <div class="container-home">
    <h2 class="text-center mt-sm-3">Find a <strong>freelancer</strong></h2>
    <p class="text-center">Hire a freelancer for any task!</p>
      <%= simple_form_for :search, url: profiles_path, method: :get, html: { class: "search-form" } do |f| %>
      <div class="search-form-control d-md-flex justify-content-center align-items-center">
        <input class="form-control string required w-md-50" type="text" placeholder="Skill"  name="skill" />
        <input class="form-control string required w-md-50" type="text" placeholder="Location/ Name / etc." name="query" />
        <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker", id: "search_starts_at", placeholder: "From"}, wrapper_html: { class: "mb-0 w-md-25"}, label: false %>
        <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "search_ends_at", placeholder: "Until"}, wrapper_html: { class: "mb-0 w-md-25"}, label: false %>
        <button name="button" type="submit" class="btn btn-flat" id="home-search">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container job-types">
  <h2 class="text-center">Job Categories</h2>
  <div class="row">
    <%= link_to profiles_path(job_type: "Plumbing")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-roger-brown-5414383_wguqzm" %>')">
        <div class ="card-title"><p>Plumbers</p></div>
        <div class ="card-subtitle"> Leaky pipes? Weak shower pressure? Get the best plumbers.</div>
      </div>
    </div>
    <% end %>
    <%= link_to profiles_path(job_type: "Landscaping")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "landscaper_c3g4z8" %>')">
        <div class ="card-title"><p>Landscapers</p></div>
        <div class ="card-subtitle"> Overgrown grass? Dirty backyard? We are here for you.</div>
      </div>
    </div>
    <% end %>
    <%= link_to profiles_path(job_type: "Driving")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-pixabay-33488_ruahkj" %>')">
        <div class ="card-title"><p>Drivers</p></div>
        <div class ="card-subtitle"> Professionals who help you explore areas around you. </div>
      </div>
    </div>
    <% end %>
    <%= link_to profiles_path(job_type: "Housekeeping")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-ketut-subiyanto-4353615_x8sdc4" %>')">
        <div class ="card-title"><p>Housekeepers</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
    <%= link_to profiles_path(job_type: "Cooking")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-malidate-van-784631_zzix3e" %>')">
        <div class ="card-title"><p>Chefs</p></div>
        <div class ="card-subtitle"> Watch the chefs dance in the kitchen. Your kitchen only. </div>
      </div>
    </div>
    <% end %>
    <%= link_to profiles_path(job_type: "Babysitting")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-alex-green-5691833_vgfpmy" %>')">
        <div class ="card-title"><p>Babysitters</p></div>
        <div class ="card-subtitle"> All the love in the world for your children. </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
