<h1>Review <%= @booking.profile_skill.profile.user.first_name %>'s work:</h1>

<%= simple_form_for [@booking, @freelancer_review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
  <%= f.submit "Send your review" %>
<% end %>
